<!DOCTYPE html>
<html>

<link rel="shortcut icon" href="{{ url_for('static', filename='twitter.ico') }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title> Profile </title>
</head>


<body>
    <div class="head1">
        <table>
            <tr>
                <td> <a href="{{ url_for('main.index') }}"  > <img src="{{ url_for('static', filename='t.png') }}" width="20%" alt="twitter logo"> </a></td>

                <td> <a href="{{ url_for('main.feed') }}"  > 
                    <p class="bouton1"> My Feed</p></a>
                </td>
                <td> <a href="{{ url_for('auth.logout') }}"  > 
                    <p class="bouton2"> Log-out </p></a> 
                </td>
            </tr>
        </table>
    </div>

<div>
  <article class="deleteBox">
      <h1 class="title">
        Are you sure you want to leave all your Twitter friends for good?
      </h1>

      <div class = "centerDel">
    <a class="goBack"href="{{ url_for('main.profile') }}"  > 
      No</a>

    <a class="yesDelete" href="{{ url_for('main.user_delete') }}"  > 
      Yes</a>
    </div>
    </article>
    </body>
</html> 