<!DOCTYPE html>
<html>

<link rel="shortcut icon" href="{{ url_for('static', filename='twitter.ico') }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title> Feed </title>
</head>


<body>
  <div class="head1">
    <table>
      <tr>
        <td> <a href="{{ url_for('main.index') }}"  > <img src="{{ url_for('static', filename='t.png') }}" width="20%" alt="twitter logo"> </a></td>
        <td> <a href="{{ url_for('main.profile') }}"  > 
            <p class="bouton1"> Profile </p></a>
        </td>
        <td> <a href="{{ url_for('auth.logout') }}"  > 
            <p class="bouton2"> Log-out </p></a> 
        </td>
      </tr>
    </table>
</div>

<article class="centerBoxd">
  <p class="indent"> My Feed </p>
    {% for tweet in tweets %}
    <article class="box">
      <header>
        <div>
          <h1>{{ tweet['title'] }}</h1>
        </div>
      </header>
      <p class="body">{{ tweet.content }}</p>
      <a class="about" href="{{ url_for('main.user_profile', user = user_by_id[tweet.uid]['username']) }}"> by {{user_by_id[tweet.uid]['username']}}</a>
      {%if tweet.uid != user%}
      <a class="unfollowButton" href="{{ url_for('main.unfollow_someone', uid2 = tweet.uid, isFrom="feed", argument = "error",) }}">Unfollow</a>
      {%endif%}
      {%if tweet.id in tweet_likes%}
    <p class=countingL> {{tweet_likes[tweet.id]|length}} likes</p>
    {%else%}
    <p class=countingL>0 likes</p>
    {%endif%}
    {%if user in tweet_likes[tweet.id]%}
    <a class="dislikeButton" href="{{ url_for('main.dislike_tweet', isFrom="feed" , argument = "error", tid = tweet.id) }}">&#128153;</a>
    {%else%}
    <a class="likeButton" href="{{ url_for('main.like_tweet', isFrom="feed" , argument = "error", tid = tweet.id) }}">&#128420;</a>
    {%endif%}
    </article>
  {% endfor %}
</article>  
  
      
  </body>
  </html> 