<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title> Feed </title>
</head>


<body>
  <div class="head1">
    <table>
      <tr>
        <td> <a href="{{ url_for('main.index') }}"  > <img src="{{ url_for('static', filename='t.png') }}" width="20%" alt="twitter logo"> </a></td>
        <td> 
          {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="notification is-danger">
                  {{ messages[0] }}
              </div>
          {% endif %}
          {% endwith %}
          <form action="/find_someone/index" method="post">
          <input class="bouton4" name="username"  placeholder="Research" id="username" value="{{ request.form['username'] }}">
          <input class="bouton5" type="submit" placeholder="Username" value="Username">
          </action>
        </td>
        <td> <a href="{{ url_for('main.profile') }}"  > 
            <p class="bouton1"> Profile </p></a>
        </td>
        <td> <a href="{{ url_for('auth.logout') }}"  > 
            <p class="bouton2"> Log-out </p></a> 
        </td>
      </tr>
    </table>
</div>

<article class="centerBoxd">
  <p class="indent"> My Feed </p>
    {% for tweet in tweets %}
    {% if tweet.uid in following %}
    <article class="box">
      <header>
        <div>
          <h1>{{ tweet['title'] }}</h1>
        </div>
      </header>
      <p class="body">{{ tweet.content }}</p>
      <a class="about" href="{{ url_for('main.user_profile', user = user_by_id[tweet.uid]['username']) }}"> by {{user_by_id[tweet.uid]['username']}}</a>
      <a class="followButton" href="{{ url_for('main.follow_someone', uid2 = tweet.uid, isFrom = "home") }}">Follow</a>
    </article>
  {%endif%}
  {% endfor %}
  
  
      
  </body>
  </html> 