<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Homepage</title>
</head>

<body>
    <div class="head1">
        <table>
            <tr>
                <td> <img src="{{ url_for('static', filename='t.png') }}" width="15%" alt="twitter logo"> </td>
                <td> <a href="{{ url_for('auth.register') }}"  > 
                    <p class="bouton1"> Register </p></a>
                </td>
                <td> <a href="{{ url_for('auth.login') }}"  > 
                    <p class="bouton2"> Login </p></a>
                </td>
            </tr>
        </table>
    </div>



<h1>{% block title %}Posts{% endblock %}</h1>
{% if g.user %}
  <a class="action" href="{{ url_for('main.tweet') }}">New</a>
{% endif %}



{% for tweet in tweets %}t['body'] </p>
</article>
  <article class="tweet">
    <header>
      <div>
        <h1>{{ tweet['title'] }}</h1>
        <div class="about">by {{ tweet['username'] }} on {{ tweet['created'].strftime('%Y-%m-%d') }}</div>
      </div>
      {% if g.user['id'] == tweet['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
      {% endif %}
    </header>
    <p class="body">{{ tweet['body'] }}</p>
  </article>
  {% if not loop.last %}
    <hr>
  {% endif %}
{% endfor %}

    
</body>
</html> 
