<!DOCTYPE html>
<html>

<link rel="shortcut icon" href="{{ url_for('static', filename='twitter.ico') }}">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Homepage</title>
</head>

<body>
    <div class="head1">
        <table>
          <tr>
            <td> <a href="{{ url_for('main.index') }}"  > <img src="{{ url_for('static', filename='t.png') }}" width="20%" alt="twitter logo"> </a></td>
            <td> 
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <div class="notification is-danger">
                      {{ messages[0] }}
                  </div>
              {% endif %}
              {% endwith %}
              <form action="find/index" method="post">
              <input class="bouton4" name="research"  placeholder="Research" id="research" value="{{ request.form['research'] }}">
              <input class="bouton5" name = 'action' type="submit" placeholder="Username" value="Username">
              <input class="bouton6" name = 'action' type="submit" placeholder="Tweet" value="Tweet">
              </action>
            </td>
            {% if isUser %}
            <td> <a href="{{ url_for('main.feed') }}"  > 
              <p class="bouton3"> My Feed </p></a> 
            </td>
            <td> <a href="{{ url_for('main.profile') }}"  > 
                <p class="bouton1"> Profile </p></a>
            </td>
            <td> <a href="{{ url_for('auth.logout') }}"  > 
                <p class="bouton2"> Log-out </p></a> 
            </td>
          </tr>
          {% else %}
                <td> <a href="{{ url_for('auth.register') }}"  > 
                    <p class="bouton1"> Register </p></a>
                </td>
                <td> <a href="{{ url_for('auth.login') }}"  > 
                    <p class="bouton2"> Login </p></a>
                </td>
            </tr>
          {% endif %}
        </table>
    </div>


<br>


<a class="indent1" href="{{ url_for('main.tweet') }}">New Tweet</a>


<article class="centerBox">
{% for tweet in tweets %}</p>
  <article class="box">
    <header>
      <div>
        <h1>{{ tweet['title'] }}</h1>
      </div>
    </header>
    <p class="body">{{ tweet.content }}</p>
    <a class="about" href="{{ url_for('main.user_profile', user = user_by_id[tweet.uid]['username']) }}"> by {{user_by_id[tweet.uid]['username']}}</a>
    {%if tweet.uid not in following%}
    <a class="followButton" href="{{ url_for('main.follow_someone', isFrom="home", argument = "error", uid2 = tweet.uid) }}">Follow</a>
    {%elif tweet.uid != user%}
    <a class="unfollowButton" href="{{ url_for('main.unfollow_someone', isFrom="home" , argument = "error", uid2 = tweet.uid) }}">Unfollow</a>
    {%endif%}
    {%if tweet.id in tweet_likes%}
    <p class=countingL> {{tweet_likes[tweet.id]|length}} likes</p>
    {%else%}
    <p class=countingL>0 likes</p>
    {%endif%}
    {%if user in tweet_likes[tweet.id]%}
    <a class="dislikeButton" href="{{ url_for('main.dislike_tweet', isFrom="home" , argument = "error", tid = tweet.id) }}">&#128153;</a>
    {%else%}
    <a class="likeButton" href="{{ url_for('main.like_tweet', isFrom="home" , argument = "error", tid = tweet.id) }}">&#128420;</a>
    {%endif%}
  </article>
{% endfor %}
</article>



    
</body>
</html> 
