<!DOCTYPE html>
<html>

<link rel="shortcut icon" href="{{ url_for('static', filename='twitter.ico') }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title> Profile </title>
</head>


<body>
    <div class="head1">
        <table>
            <tr>
                <td> <a href="{{ url_for('main.index') }}"  > <img src="{{ url_for('static', filename='t.png') }}" width="20%" alt="twitter logo"> </a></td>

                <td> <a href="{{ url_for('main.feed') }}"  > 
                    <p class="bouton3"> My Feed</p></a>
                </td>
                <td> <a href="{{ url_for('auth.logout') }}"  > 
                    <p class="bouton2"> Log-out </p></a> 
                </td>
                <td> <a href="{{ url_for('main.friends', uid = myid) }}"  > 
                  <p class="bouton1"> Friends </p></a> 
              </td>
            </tr>
        </table>
    </div>

<div>
    <article class="profileBox">
      <h1 class="title">
        Welcome, {{ name }}
      </h1>
    </article>

    <a class="deleteUser" href="{{ url_for('main.ask_user_delete') }}"  > Delete Account</a>

  <div class="leftBox">
    <p class="indent"> My Tweets </p>

    {% for tweet in tweets %}</p>
    <article class="box">
      <header>
        <div>
          <h1>{{ tweet['title'] }}</h1>
          <a class="deleteButton" href="{{ url_for('main.tweet_delete', tid=tweet.id) }}">Delete</a>
        </div>
      </header>
      <p class="body">{{ tweet.content }}</p>
      <div class="about">by me </div>
      {%if tweet.id in tweet_likes%}
      <p class=countingL> {{tweet_likes[tweet.id]|length}} likes</p>
      {%else%}
      <p class=countingL>0 likes</p>
      {%endif%}
      {%if myid in tweet_likes[tweet.id]%}
      <a class="dislikeButton" href="{{ url_for('main.dislike_tweet', isFrom="profile" , argument = name, tid = tweet.id) }}">&#128153;</a>
      {%else%}
      <a class="likeButton" href="{{ url_for('main.like_tweet', isFrom="profile" , argument = name, tid = tweet.id) }}">&#128420;</a>
      {%endif%}
    </article>
    {% endfor %}
  </div>

<article class="friend">
<div>
<h1>
  <p>People I follow </p>
</h1>
</div>

  {% for follow in following %}
  <div>
    <a class="about" href="{{ url_for('main.user_profile', user = user_by_id[follow]['username']) }}"  > {{ user_by_id[follow]['username'] }}</a>
    <a class="unfollowButton" href="{{ url_for('main.unfollow_someone', isFrom="profile", argument = "error", uid2 = follow) }}">Unfollow</a>
  </div>
    {% endfor %}

</article>


<article class="friend">
  <div>
  <h1>
    <p>These people follow you </p>
  </h1>
  </div>
  
    {% for follow in pred %}
    <div>
      <a class="about" href="{{ url_for('main.user_profile', user = user_by_id[follow]['username']) }}"  > {{ user_by_id[follow]['username'] }}</a>
      {%if follow not in following%}
      <a class="followButton" href="{{ url_for('main.follow_someone', isFrom="profile", argument = "error", uid2 = follow) }}">Follow</a>
      {%else%}
      <a class="unfollowButton" href="{{ url_for('main.unfollow_someone', isFrom="profile", argument = "error", uid2 = follow) }}">Unfollow</a>
      {%endif%}
      </div>
      {% endfor %}
  
  </article>

    </body>
</html> 