<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title> Profile </title>
</head>


<div class="head1">
  <table>
    <tr>
      <td> <a href="{{ url_for('main.index') }}"  > <img src="{{ url_for('static', filename='t.png') }}" width="20%" alt="twitter logo"> </a></td>
      <td> 
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form action="/find_someone/index" method="post">
        <input class="bouton4" name="username"  placeholder="Research" id="username" value="{{ request.form['username'] }}">
        <input class="bouton5" type="submit" placeholder="Username" value="Username">
        </action>
      </td>
      {% if isUser %}
      <td> <a href="{{ url_for('main.feed') }}"  > 
        <p class="bouton3"> My Feed </p></a> 
      </td>
      <td> <a href="{{ url_for('main.profile') }}"  > 
          <p class="bouton1"> Profile </p></a>
      </td>
      <td> <a href="{{ url_for('auth.logout') }}"  > 
          <p class="bouton2"> Log-out </p></a> 
      </td>
    </tr>
    {% else %}
          <td> <a href="{{ url_for('auth.register') }}"  > 
              <p class="bouton1"> Register </p></a>
          </td>
          <td> <a href="{{ url_for('auth.login') }}"  > 
              <p class="bouton2"> Login </p></a>
          </td>
      </tr>
    {% endif %}
  </table>
</div>

<div>
 
<article class="profileBox">
<h1 class="title">
        This is the profil of {{ name }}
        {%if isfollowing%}
        <small><a class="unfollowButton" href="{{ url_for('main.unfollow_someone', uid2 = user_by_name[name]['id']) }}">Unfollow</a></small>
        {%else%}
        <small><a class="followButton" href="{{ url_for('main.follow_someone', uid2 = user_by_name[name]['id']) }}">Follow</a></small>
        {%endif%}
</h1>
</article>



<div class="leftBox">

  <p class="indent"> Their Tweets </p>

  {% for tweet in tweets %}</p>
  <article class="box">
    <header>
      <div>
        <h1>{{ tweet['title'] }}</h1>
      </div>
    </header>
    <p class="body">{{ tweet.content }}</p>
    <div class="about">by {{ name }} </div>
  </article>
  {% endfor %}

</div>

<article class="friend">
  <div>
  <h2>People that {{name}} follows </h2>
  </div>
  {% for follow in following %}
  <div>
  <a class="about" href="{{ url_for('main.user_profile', user = user_by_id[follow]['username']) }}"  > {{ user_by_id[follow]['username'] }}</a>
  {%if follow not in Me_following%}
  <a class="followButton" href="{{ url_for('main.follow_someone', uid2 = follow) }}">Follow</a>
  {%elif follow != user%}
  <a class="unfollowButton" href="{{ url_for('main.unfollow_someone', uid2 = follow) }}">Unfollow</a>
  {%endif%}
  </div>
  {% endfor %}
</article>
</body>
</html> 
