
.head1
{
    background: #1DA1F2    ;
    height: 2%;
    width: 100%;
    margin: 0;
    padding: 0.5%;


}

.bouton4
{ 
  
  font-family: arial;
  color: black;
  font-size: 16px;
  line-height: 25px;
  background-color:#E1E8ED  ;
  margin: 0 auto;
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 13px 13px 13px 13px;
  font-weight: normal;
  width: 202px;
  left : 25%;
  padding: 6px 27px 6px 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
}

.bouton5
{ 
  font-family : arial;
  font-size: 16px;
  line-height: 39px;
  color: white;
  border-radius: 13px 13px 13px 13px;
  background-color: #657786;
  margin-left: auto;
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
}
.bouton5:hover, .bouton5:active {
  background-color: #AAB8C2  ;
  color: #3d4850;
}

.bouton6
{ 
  font-family : arial;
  font-size: 16px;
  line-height: 39px;
  color: white;
  border-radius: 13px 13px 13px 13px;
  background-color: #657786;
  margin-left:0%;
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
}
.bouton6:hover, .bouton6:active {
  background-color: #AAB8C2  ;
  color:#3d4850;
}

.bouton3
{ 
  font-family: arial;
  font-size : 18px;
  line-height: 12px;
  font-weight: bold;
  color: black;
  position: absolute;
  left : 75%;
  margin-top: 0px;
  background-color: #F5F8FA;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 13px 13px 13px 13px;
}

.bouton3:hover, .bouton3:active {
  background-color: #AAB8C2;
}


.bouton1
{ 
  font-family: arial;
  font-size : 18px;
  margin-top: 0px;
  line-height: 12px;
  font-weight: bold;
  color: black;
  position: absolute;
  left : 83%;
  background-color: #F5F8FA;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 13px 13px 13px 13px;
}

.bouton1:hover, .bouton1:active {
  background-color: #AAB8C2;
}

.bouton9
{ 
  font-family: arial;
  font-size : 18px;
  margin-top: 0px;
  line-height: 12px;
  font-weight: bold;
  color: black;
  position: absolute;
  left : 67.5%;
  background-color: #F5F8FA;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 13px 13px 13px 13px;
}

.bouton9:hover, .bouton9:active {
  background-color: #AAB8C2;
}

.countingL{
  font-family: arial;
  line-height: 15px;
  font-size: 80%;
  background-color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border-style: none;
  display: inline-flex;
  float:right;
  margin-bottom: 3px;
  inset-block-end: 2px;
}

.countingfriends{
  font-family: arial;
  font-weight: bold;
  line-height: 20px;
  font-size: 15px;
  background-color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border-style: none;
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 2%
}

.deleteButton{
  font-family: arial;
  line-height: 12px;
  font-size: 80%;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border-style: none;
  display: inline-flex;
  float:right;
  margin-bottom: 3px;
  inset-block-end: 2px;
}

.deleteButton:hover, .deleteButton:active {
  background-color: red;
  }

.likeButton {
  display: inline-flex;
  float:right;
  align-content: flex-end;
  margin-right: 1%;
  font-family: arial;
  font-size: 18px;
  background-color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  content: \01F5A4;
  border-radius: 20px;
  border-style: none;
}

.likeButton:hover, .likeButton:active {
  background-color: #1da0f281;
  content: \01F499;
  }

  .dislikeButton {
    display: inline-flex;
    float:right;
    font-family: arial;
    margin-right: 1%;
    font-size: 18px;
    background-color: white;
    padding: 1% 1%;
    text-align: center;
    text-decoration: none;
    content: \01F499;
    border-radius: 20px;
    border-style: none;
  }
  
  .dislikeButton:hover, .dislikeButton:active {
    background-color: rgb(169, 169, 169);
    content: \02764;
    }
  
.bouton2
{ 
  font-family: arial;
  font-size : 18px;
  font-weight: bold;
  line-height: 12px;
  margin-top: 0px;
  color: black;
  position: absolute;
  left : 90%;
  background-color: #F5F8FA;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 13px 13px 13px 13px;
}

.bouton2:hover, .bouton2:active {
  background-color: #AAB8C2;
}

.indent
{
  font-size: 35px;
  font-weight: bold;
  text-indent : 5%;
}



.indent1
{
  font-family: arial;
  font-weight: bold;
  background-color:#1DA1F2;
  color: white;
  font-size: 25px;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.indent1:hover, .indent1:active {
  background-color: #038ee4;
}


.p1
{
  font-size : 30px;
  font-weight: normal;
  color: white;
  text-align: center;
}

.box {
  font-family: arial;
  width: 96%;
  border-radius: 13px 13px 13px 13px;
  margin-top:2%;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 2% 2% 2%;
  position:center;
  /* border: 2px solid #AAB8C2
  ;*/
  background-color: #E1E8ED;
}

.centerBox {
  font-family: arial;
  width: 50%;
  border-radius: 13px 13px 13px 13px;
  height: auto;
  margin-top:0%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 1% 1% 1%;
  position:center;
  /* border: 2px solid #AAB8C2
  ;*/
  background-color: #F5F8FA  ;
}

.centerBoxd {
  font-family: arial;
  width: 50%;
  border-radius: 13px 13px 13px 13px;
  height: auto;
  margin-top:2%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 1% 1% 1%;
  position:center;
  /* border: 2px solid #AAB8C2
  ;*/
  background-color: #F5F8FA  ;
}


.lcenterBox {
  font-family: arial;
  width: 60%;
  border-radius: 13px 13px 13px 13px;
  height: auto;
  margin-top:0%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 1% 1% 1%;
  position:center;
  /* border: 2px solid #AAB8C2
  ;*/
  background-color: #F5F8FA  ;
}

.leftBox {
  font-family: arial;
  width: 50%;
  border-radius: 13px 13px 13px 13px;
  height: auto;
  margin-top:0%;
  margin-left: 5%;
  margin-right: 0px;
  padding: 1% 1% 1% 1%;
  float: left;
  /* border: 2px solid #AAB8C2
  ;*/
  background-color: #F5F8FA  ;
}

.leftBoxU {
  font-family: arial;
  width: 50%;
  border-radius: 13px 13px 13px 13px;
  height: auto;
  margin-top:10%;
  margin-left: 5%;
  margin-right: 0px;
  padding: 1% 1% 1% 1%;
  float: left;
  /* border: 2px solid #AAB8C2
  ;*/
  background-color: #F5F8FA  ;
}

.profileBox {
  float: left;
  font-family: arial;
  font-size: 20px;
  width: 50%;
  border-radius: 13px 13px 13px 13px;
  height: 20%;
  margin-top:0%;
  margin-left: 5%;
  margin-right: 0px;
  padding: 1% 1% 1% 1%;
  /* border: 2px solid #AAB8C2
  ;*/
  background-color: #AAB8C2  ;
}

.deleteBox {
  position:center;
  font-family: arial;
  margin-top:2%;
  font-size: 15px;
  width: 50%;
  border-radius: 13px 13px 13px 13px;
  height:  15%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 1% 1% 1%;
  /* border: 2px solid #AAB8C2
  ;*/
  background-color: #E1E8ED  ;
}

.TweetBox {
  position:center;
  font-family: arial;
  margin-top:2%;
  font-size: 15px;
  width: 50%;
  border-radius: 13px 13px 13px 13px;
  height:  15%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 1% 1% 1%;
  /* border: 2px solid #AAB8C2
  ;*/
  background-color: #AAB8C2  ;
}

.box2 {
  font-family: arial;
  width: 70%;
  border-radius: 13px 13px 13px 13px;
  height: 400px;
  margin: 70px;
  padding: 2% 2% 2% 2%;
  background-color: #E1E8ED;
}

.head2
{
     background: dodgerblue;
     height: 10%;
     width: 100%;
     margin: 0;
     padding: 0;

}

.loginBox
{
  font-family: arial;
  text-align: center;
  background: #1DA1F2;
  font-size : 20px;
  color : white;
  height: auto;
  width: 60%;
  margin-top:2%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 1% 1% 1%;
  border-radius: 13px 13px 13px 13px;
  position:center;
}


.button
{   
    font-size : 15px;
    font-weight: normal;
    color: white;
    text-align: right;
    margin: 4px 2px;
  
}



 /* Full-width inputs */
 .input[type=text] {
  width: 10%;
  padding:50px;
  margin: 15px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
 }
 
 .input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
 }
 
 /* Set a style for all buttons */
 .input[type=submit] {
  background-color: #53af57;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
 }
 .input[type=submit]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
 }


.about
{
  font-weight: bold;
  font-family: arial;
  background-color:#c9d8e3;
  color: #3c464d;
  padding: 1% 1%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 13px 13px 13px 13px;
  margin: 1%;
  padding-left: 2%;
  width: 35%;
}

.about:hover, .about:active {
  background-color: #3c464d;
  color: #c9d8e3;
}

.About
{
  font-weight: bold;
  font-family: arial;
  font-size: 20px;
  background-color: rgb(255, 211, 211);
  color: black;
  padding: 1% 1%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 13px 13px 13px 13px;
  margin: 1%;
  margin-left: 3%;
  padding-left: 2%;
  width: 30%;
}

.About:hover, .About:active {
  background-color: #1DA1F2;
  color: white;
}

.followButton
{
  font-weight: bold;
  font-family: arial;
  background-color:#1DA1F2;
  color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 13px 13px 13px 13px;
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;
}

.followButton:hover, .followButton:active {
  background-color: #038ee4;
}

.unfollowButton
{
  font-weight: bold;
  font-family: arial;
  background-color:#E1E8ED;
  color: black;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 13px 13px 13px 13px;
  margin: 0 auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.unfollowButton:hover, .unfollowButton:active {
  background-color: #F5F8FA  ;
}

.TwCase
{
  font-family: arial;
  color: black;
  font-weight: bolder;
  font-size: 20px;
  height: auto;
  background-color:#F5F8FA  ;
  margin: 0 auto;
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: left;
  border-radius: 13px 13px 13px 13px;
  font-weight: normal;
  margin-left: 2%;
  position: center;
  width: 90%;
  left : 25%;
  padding: 10px 27px 10px 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;

}

.TwTitle
{
  font-family: arial;
  color: black;
  font-weight: bolder;
  font-size: 22px;
  width: 90%;
  background-color:#F5F8FA  ;
  margin: 0 auto;
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: left;
  border-radius: 13px 13px 13px 13px;
  font-weight: normal;
  margin-left: 2%;
  position: center;
  left : 25%;
  padding: 6px 27px 6px 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;

}

.login-input
{
  font-family: arial;
  color: black;
  font-weight: bolder;
  font-size: 22px;
  width: 90%;
  background-color: #E1E8ED  ;
  margin: 0 auto;
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: left;
  border-radius: 13px 13px 13px 13px;
  font-weight: normal;
  margin-left: 2%;
  position: center;
  left : 25%;
  padding: 6px 27px 6px 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;

}

.TwSend
{ 
  font-family : arial;
  font-size: 16px;
  line-height: 35px;
  font-weight: bolder;
  color: black;
  border-radius: 13px 13px 13px 13px;
  background-color: #AAB8C2;
  margin-left: 2%;
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  position: left;
  left : 10%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.TwSend:hover, .TwSend:active {
  background-color: #657786  ;
}

.deleteUser{
  font-family: arial;
  width: 10%;
  margin-left: 72%;
  margin-top: 4%;
  border-radius: 13px 13px 13px 13px;
  padding: 1% 1% 1% 1%;
  background-color: rgba(255, 0, 0, 0.3);
  color : white;
  margin-right: 0px;
  position: center;
  display: block;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  font-size: auto;
  
}

.deleteUser:hover, .deleteUser:active {
  background-color: red  ;
}

.goBack{
  font-family: arial;
  width: 10%;
  margin-top: 3%;
  border-radius: 13px 13px 13px 13px;
  padding: 2% 2% 2% 2%;
  background-color:#1DA1F2;
  color : white;
  margin-right: 0px;
  position: center;
  display: inline-block;
  margin-right: 2%;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  font-size: auto;
  
}
.goBack:hover, .goBack:active {
  background-color: #0293ed  ;
}
.yesDelete{
  font-family: arial;
  width: 10%;
  margin-top: 3%;
  border-radius: 13px 13px 13px 13px;
  padding: 2% 2% 2% 2%;
  background-color: white;
  color :#AAB8C2;
  position: center;
  display: inline-block;
  margin-left: 2%;
  margin-top: 3%;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  font-size: auto;
  
}

.yesDelete:hover, .yesDelete:active {
  background-color: rgba(255, 0, 0, 0.608)  ;
  color : white;
}

.centerDel {
  text-align: center;
}
.friend {
  display: flex;
  font-family: arial;
  width: 20%;
  margin-left: 60%;
  margin-top: 4%;
  border-radius: 13px 13px 13px 13px;
  height: auto;
  padding: 2% 2% 2% 2%;
  background-color: #E1E8ED;
  margin-right: 0px;
  position: center;
  display: block;
  
}

.Friend {
  font-family: arial;
  width: 30%;
  margin-top: 4%;
  border-radius: 13px 13px 13px 13px;
  height: auto;
  padding: 2% 2% 2% 2%;
  background-color: #E1E8ED;
  margin-right: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.people{
  border-radius: 13px 13px 13px 13px;
}
